.wrapper{
    background-color: #2221216e;
    color: white;
    padding: 0% 8% ;
    padding-bottom: 7%;
}
.textA{
   margin-bottom: 3%;

}
.faqText{
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    opacity: 30%;
}